*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; -webkit-font-smoothing: antialiased; }
#root { min-height: 100vh; }
a { text-decoration: none; }
button { cursor: pointer; border: none; background: none; padding: 0; }
p, h1, h2, h3 { margin: 0; }
ul { margin: 0; padding: 0; list-style: none; }
